package-lock.json
node_modules/
frontend/frontend-app/.angular/cache/
frontend/frontend-app/.angular/cache/19.1.4/frontend-app/vite/deps/_metadata.json
frontend/frontend-app/.angular/cache/19.1.4/frontend-app/
frontend/frontend-app/.angular/