<div class = "popup-wrapper">
    <div class="container">
        <h2>Contexte du jeu</h2>
        <p>
            Nous sommes constamment amenés à suivre des règles sociales subtiles et implicites dans nos décisions quotidiennes. Ces règles dépendent de nombreux paramètres, tels que l'âge, le genre, et bien d'autres encore. Les comprendre et les respecter est néanmoins essentiel pour qu'un individu soit accepté au sein de la société.
        </p>
        <p>
            Ainsi, extraire des données et des connaissances sur ces normes sociales du quotidien pourrait offrir une compréhension précieuse des interactions humaines et jouer un rôle crucial dans l’acceptation des agents artificiels.
        </p>
        <p>
            Nous abordons donc une question spécifique mais fondamentale : comment comprendre et prédire la manière de réaliser des répartitions socialement acceptables des principaux moteurs des comportements sociaux humains, à savoir la <strong>récompense</strong>, l’<strong>effort</strong> et le <strong>risque</strong> ?
        </p>
        <p>
            Dans un premier travail, nous avons cherché à développer un agent artificiel capable d’effectuer des répartitions socialement acceptables de ces trois dimensions – considérées séparément – entre des paires d’individus humains ou de robots.
        </p>
        <p>
            Pour cela, un jeu a été conçu (<a href="https://ethicallychoice.alwaysdata.net/" target="_blank">ethicallychoice.alwaysdata.net</a>) permettant de collecter des données et de former un modèle prédictif des décisions.
        </p>
        <p>
            Dans cette étude, nous souhaitons aller plus loin en explorant comment concevoir un agent capable de gérer des combinaisons de ces dimensions – par exemple, risque et effort ; risque et récompense ; ou encore récompense et effort.
        </p>

        <div class="btn-container">
            <button (click)="closePop()" class="btn-close"> Fermer</button>
        </div>
        
    </div>
</div>
