<button routerLink="/" class="top-right-button"> Revenir à l'accueil </button>
<div class="container">
    <div class="main-card">
      <div class="img-container">
        
        <div class="center">
            <div class="image-section">
                <div class="img-box">
                    <img [src]="scenario.image" alt="Image" class="img" >
            
                </div>
                
            </div>
            <div class="description-box">
                <p class="description-text">{{ scenario.text }}</p>
            </div>
        </div>
        
      </div>
  
      <div class="sliders-section">
        <div class="slider-container">
          <div class="left">
            <app-stickman1 [individuA] = "scenario.individuA"> </app-stickman1>
            <div class="character-label">{{scenario.individuA}}</div>
        </div>
        
        <div class="slider-header">
            <app-slider
             [(value1)]="sliderValue1" 
             [(value2)]="sliderValue2"
             [associationType]="scenario.association">
            </app-slider>
        </div>

        <div class="right">
            <app-stickman2 [individuB] = "scenario.individuB"></app-stickman2>
            <div class="character-label">{{scenario.individuB}}</div>
        </div>
        </div>
      </div>
  
      <div class="submit-section">
        <app-submit
        (refreshRequested)="fetchScenario()"
        [sliderValue1]="sliderValue1"
        [sliderValue2]="sliderValue2"
        [scenario]="scenario"
      ></app-submit>      
      </div>
    </div>
  </div>
  