<button routerLink="/" class="top-right-button"> Revenir à l'accueil </button>
<div class="container">
    <div class="main-card">
      <div class="img-container">
        
        <div class="center">
            <div class="image-section">
                <div class="img-box">
                    <img [src]="imageUrl" alt="Image" class="img" >
            
                </div>
                
            </div>
            <div class="description-box">
                <p class="description-text">{{ content }}</p>
            </div>
        </div>
        
      </div>
  
      <div class="sliders-section">
        <div class="slider-container">
          <div class="left">
            <app-stickman1></app-stickman1>
            <div class="character-label">Personnage A</div>
        </div>
        
        <div class="slider-header">
            <app-slider [(value1)]="sliderValue1" [(value2)]="sliderValue2"></app-slider>
        </div>

        <div class="right">
            <app-stickman2></app-stickman2>
            <div class="character-label">Personnage B</div>
        </div>
        </div>
      </div>
  
      <div class="submit-section">
        <app-submit [sliderValue1]="sliderValue1" [sliderValue2]="sliderValue2"></app-submit>
      </div>
    </div>
  </div>
  