<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compréhension des Normes Sociales</title>

</head>
<body>
    <h1>Choice </h1>
    <div class="container-wrapper">
    
        <div class="container">
            <h2>Détails du jeu</h2>
            <p>
                Vous aurez à explorer différents scénarios répartis en trois catégories :<strong> risque - récompense, effort - risque et risque - récompense.</strong> 

                Votre rôle est d'évaluer chaque situation et de répartir ces mesures en fonction des caractéristiques des personnages impliqués. Ceux-ci peuvent être variés : homme, femme, enfant, jeune fille, personne âgée ou robot.

            </p>
            <p>
                Avant de commencer, vous devrez définir leur force physique sur une échelle de 0 à 10, où 0 représente la plus faible capacité et 10 la plus élevée. Par exemple, vous pourriez attribuer une force de 10 au robot et de 3 à une personne âgée.
            </p>
            <p>
                Une fois cette étape terminée, les scénarios s'afficheront avec une paire de personnages aléatoire. Votre mission sera alors de répartir l’effort, le risque et la récompense selon leurs profils, les forces définies et le scénario présenté.
            </p>
            <p>
                Certains scénarios seront répétés avec de légères variations de couples de personnages, afin d'observer l'évolution de vos choix.
            </p>
            <p>
                À vous de jouer et de faire les meilleurs choix ! 🚀

            </p>
            <a routerLink="/forces" class="btn">Démarrer le jeu</a>
        </div>
    </div>
</body>
</html>

