.force-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #27243b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: fit-content;
    margin: 50px auto;
}
  
.force-card > div {
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-bottom: 20px;
}
  
.force-card img {
    width: 50px;
    height: 50px;
    object-fit: contain; 
    border-radius: 8px; 
    background: #222020; 
    padding: 5px;
}


