@if (singleSliderFlag){
  <div class="slider-container">
    <label for="slider1" style="color:white;" class="slider-label"></label>
    <input
      type="range"
      id="slider1"
      class="slider"
      min="1"
      max="10"
      [ngModel]="value1"
      (ngModelChange)="onValue1Change($event)"
    />
  </div>
} @else {
<div class="sliders-section">
  <!-- Slider 1 -->
  <div class="slider-container">
    <div class="slider-value-left">{{ value1 }}</div>
    <div class="slider-header">
      <label for="slider1" class="slider-label">
        {{label1}} 
      </label>
    <!--</div>-->
    <input
      type="range"
      id="slider1"
      class="slider"
      min="0"
      max="10"
      [ngModel]="value1"
      (ngModelChange)="onValue1Change($event)"
    />
  </div>

  <div class="slider-value-right"> {{ 10 - value1 }} </div> <!-- Ajout côté droit -->
</div>


  <!-- Slider 2 -->
  <div class="slider-container">
    <div class="slider-value-left">{{ value2 }}</div>

    <div class="slider-header">
      <label for="slider2" class="slider-label">
        {{label2}}
      </label>
    <input
      type="range"
      id="slider2"
      class="slider"
      min="0"
      max="10"
      [ngModel]="value2"
      (ngModelChange)="onValue2Change($event)"
    />
  </div>
  <div class="slider-value-right"> {{ 10 - value2 }} </div> <!-- Ajout côté droit -->
  </div>
</div>
}