<div class="border border-black rounded-lg w-20 h-26 p-2 flex flex-col items-center justify-between shadow-md hover:shadow-2xl transition-shadow bg-transparent">
  <div class="w-full flex items-center justify-center">
    <img
      [src]="url1"
      alt="Stickman"
      class="w-full max-w-xs max-h-[70px] min-h-[70px] mx-auto object-contain rounded-md transition-transform duration-300 ease-in-out hover:scale-105"
    />
  </div>

  <div
    class="w-full border border-blue-400 rounded px-2 py-0.5 text-center font-bold text-[length:clamp(5px,2vw,8px)] text-blue-300 bg-transparent mb-1"
  >
    Force: {{ force1 }}
  </div>
</div>
