<header>
    <div class="container">
        <a routerLink="/login" class="logo"> Accueil</a>
        <div class="imageLogo">  
            <img src="assets/logo3.webp" alt="Logo"></div>
        <nav>
            <ul>
                <li class = "menu-container">
                    <a routerLink="/dashboard" class="ap"> À propos </a>
                    <div class="menu">
                        <a routerLink="/profile"> Notre équipe </a>
                        <a routerLink="/objectif"> Objectif </a>
                        <a> Logout </a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page" class="logo"> 
                        Terminer le jeu</a>
                </li>
            </ul>
        </nav>
    </div>
</header>