header{
    position: relative;
    background: white;
    padding: 0;
    /*border-bottom: 1px solid #eee9e9 ;*/
}

a{
    color: #09078ace;
}

a:hover{
    background: #0f4572 ;
    color: white;
    cursor: pointer;

}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /*background: linear-gradient(to right, #dddce2, #746e80);*/
    background: url('/assets/back2.jpg') no-repeat center center fixed;
    background-size: cover;
}

a.logo{
    font-weight: bold;
    padding: 2rem;
    display: inline-block;
    position: relative;
}

a.logo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    bottom: -5px;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
  }

a.logo:hover::after {
transform: scaleX(1);
}



ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

ul a{
    padding: 1rem;
    display: inline-block;
}


.menu-container{
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.menu-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    bottom: -5px;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
  }

.menu-container:hover::after {
transform: scaleX(1);
}

.menu{
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}

.menu-container:hover .menu{
    display: block;
}

.menu a{
    width: 100%;
    min-width: 8rem;
}

.title{
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    margin-left: 10.5rem;
    margin-top: 0.25rem;
    color: #2f4274;
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1.5px;
    /*background: linear-gradient(to right, #dddce2, #746e80);*/
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.imageLogo {
    margin-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Permet à l'image de prendre de l'espace central */
}

.imageLogo img {
    width: 85px; /* Taille réduite */
    height: auto; /* Garde le ratio */
}

 /*
.title {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem; /* Taille plus grande 
    font-weight: bold;
    padding: 1rem;
    margin-left: 10.5rem;
    color: #291694;
    font-family: 'Poppins', sans-serif; /* Police élégante 
    text-transform: uppercase; /* Mettre en majuscule 
    letter-spacing: 2px; /* Espacement des lettres 
    background: linear-gradient(to right, #291694, #7a42f4); /* Dégradé 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Texte avec dégradé 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère 

}
*/