<div class="container">
  <div class="left">
    <app-stickman1 [scenario]="scenario"></app-stickman1>
    <div class="character-label">Personnage A</div>
  </div>
  <div class="center">
    <app-img-text
      [content]="scenario.text"
      [imageUrl]="scenario.image"
    ></app-img-text>
  </div>
  <div class="right">
    <app-stickman2 [scenario]="scenario"></app-stickman2>
    <div class="character-label">Personnage B</div>
  </div>
</div>

<div class="slider-submit">
  <app-slider [(value1)]="sliderValue1" [(value2)]="sliderValue2"> </app-slider>

  <app-submit
    (refreshRequested)="fetchScenario()"
    [sliderValue1]="sliderValue1"
    [sliderValue2]="sliderValue2"
    [scenario]="scenario"
  ></app-submit>
</div>

<app-forces-page> </app-forces-page>