<app-home-page></app-home-page>
<app-header></app-header>

<div class="container">
  <div class="main-card">
    <div class="img-container">
      <div class="left">
        <app-stickman1></app-stickman1>
        <div class="character-label">Personnage A</div>
      </div>
      
      <div class="center">
        <app-img-text></app-img-text>
      </div>
      
      <div class="right">
        <app-stickman2></app-stickman2>
        <div class="character-label">Personnage B</div>
      </div>
    </div>

    <div class="sliders-section">
      <div class="slider-container">
        <div class="slider-header">
          <app-slider [(value1)]="sliderValue1" [(value2)]="sliderValue2"></app-slider>
        </div>
      </div>
    </div>

    <div class="submit-section">
      <app-submit [sliderValue1]="sliderValue1" [sliderValue2]="sliderValue2"></app-submit>
    </div>
  </div>
</div>
